/*1) Un background de couleur noire, une largeur de 500px, un retrait de 5px, et un
 alignement centré pour l’élément identifié par "layout".
2) Aligner le texte à gauche pour la classe "gauche" et à droite pour la classe "droite".
3) Colorer le texte en blanc pour les éléments h2, p et button.
4) Affecter une couleur bleue au background du bouton.*/

button{
    
    background-color: blue;
}
#layout{
     background-color: black;
    padding: 100px;
    width:500px;
    color:white;
    
    text-align:center;
}
.gauche{
    text-align:left;

}
.droite{
    text-align:right;
}
