body{
      font-family: "source code pro",Calibri,serif;
      margin:0;

}






nav ul{
        padding:0px;
        margin: 0px;
        list-style-type: none;
        
}
nav li{
      display:inline-block ;
      padding:0px;
      margin: 0px;
}


}
