nav ul{  
        margin-top:500px;
        list-style-type: none;
        text-align: center;
        
        
        
}
nav li{
   
      border:1px solid black;
       padding:15px;
     
      display:inline-block ;
      padding:20px;
      text-align: center;
     
}
nav li a{ 
    text-decoration:none;
    color:#fffff;


}
nav li:hover{
    
    color:white;
    background-color: deepskyblue;}


nav li:hover a{
    color:white;
}

