/*Indications :
* Appliquer à la classe "header" une largeur de 100% et une hauteur de 300px.
* Pour la classe "header-title" une marge du haut de 100px.*/


.header{
    width: 100%;  
    height: 300px;              
   
    color:white;
    background-image: url("ciel.jpg");

    
    
}
.header-title{
    padding-top: 5%;
    text-align: center;     
    margin-top: 100px;
}