.switch{
    opacity:0;
}
.switch-btn{
    width:80px;
    height:40px;
    background:#e5e5e5 ; 
    position: relative;
    border-radius: 20px;  
    box-shadow:inset 0 3px 10px rgba(0,0,0,.3);

}
.switch-btn:before{
     content: "";
    position: absolute;
    height:36px;
    width: 36px;
    background:linear-gradient(#FFF,#f2f2f2);
    left:2px;
    top:2px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 150ms ease-out;
    box-shadow: 0 8px 6px -4px rgb(0,0,0,.25);


}

input[type=checkbox]:checked+ .switch-btn::before{
    left:42px;   
    }

input[type=checkbox]:checked+.switch-btn{
background:#47cb8f;
}